* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e27838;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#title {
  display: flex;
  justify-content: center;
  padding: 8% 1% 4%;
}

h1 {
  width: 80vw;
  font-size: 1.3em;
  letter-spacing: 7px;
}

main {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: small;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#card-box {
  height: 210px;
  background-color: #3c7857;
  border-top: 8px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  gap: 20px;
}

p {
  font-size: 1em;
  color: white;
  padding-top: 3%;
}

#validation-msg {
  display: none;
  
}

input {
  border: none;
  padding: 0% 5%;
  border-radius: 20px;
  background-color: rgb(234, 234, 207);
  font-size: 1em;
  width: 250px;
  height: 40px;
}

button {
  background-color: black;
  border: 3px solid black;
  border-radius: 20px;
  color: white;
  margin-bottom: 60px;
  opacity: 70%;
  width: 175px;
  height: 40px;
  font-size: large;
}

#return-btn {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer p{
  font-size: small;
  color: black;
}

@media only screen and (min-width: 768px) {
  img {
    width: 100%;
    height: 100%;
  }
}
